.button {
  margin: 10px 0;
  background-color: #73af6f;
  border: 0;
  text-align: center;
  border-radius: 12;
  padding: 0 20px;
  line-height: 2.5;
  cursor: pointer;
  width: 123px;
}

@media (max-width: 600px) {
  .mainButton {
    cursor: none;
  }
}