.container {
  background-color: #e7deaf;
  padding: 20px;
  text-align: center;
  justify-items: center;
}

.studyContents {
  background-color: #d7c097;
  border: 1px solid black;
  border-radius: 15;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* D7C097
E7DEAF
73AF6F
007E6E */

@media (max-width: 600px) {
  .studyContents {
    width: auto;
  }

}