.container {
  text-align: center;
  justify-items: center;
}

.coreContent {
  border: 1px solid black;
  border-radius: 5;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.actionInfo {
  border: 1px solid black;
  width: 80%;
  height: 120px;
  border-radius: 5;
  align-content: center;
}

.button {
  background-color: #73af6f;
  border: 0;
  padding: 0 20px;
  line-height: 2.5;
  width: 60%;
  cursor: pointer;
  border-radius: 12;
}

.nextContainer {
  width: 80%;
}

.paragraph {
  margin-top: 0;
}
